<div class="row h-overflow-hidden">
	
	<div class="hexagon hexagon2 big"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>

	<div class="column small-10 small-offset-1 medium-6 medium-offset-3">
		
		<p class="paragraph">I’m Duarte Soares a Front End Developer with great notions of UX & UI. I started working at a Startup and then co-founded Föld, where we developed Build It With Me. At the moment i looking for remote work.</p>

		<button class="button column medium-6 small-12">Tell me more about you then</button><button class="button column medium-6 small-12">skip the lame part and show me your work</button>

	</div>

</div>