
<div class="cover" style="background-image: url(../../resources/assets/road-3.jpg)"></div>

<div class="row h-overflow-hidden section">
	
	<div class="column small-12">
			
		<div class="profile-avatar" style="background-image: url('../../resources/assets/avatar/avatar.jpeg')"></div>

	</div>

	<div class="column small-10 small-offset-1 medium-6 medium-offset-3">

		<div class="profile-description">
		
			<p class="paragraph h-text-justify">I’m <span>Duarte Soares</span> a Front End Developer with great notions of UX & UI. I started working at a Startup and then co-founded Föld, where we developed Build It With Me. At the moment i looking for remote work.</p>

		</div>

		<button class="button column small-12 large-6 show-journey-button">Show me your Journey</button><button class="button column small-12 large-6 show-work-button">Bleh, show me the work</button>

	</div>

</div>