<div class="row h-overflow-hidden section">
	
	<div class="column small-12">
		
		<div class="column small-4 small-offset-4 medium-2 medium-offset-5">
			
			<div class="hexagon hexagon2 max profile-avatar"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>

		</div>

	</div>

	<div class="column small-10 small-offset-1 medium-6 medium-offset-3">

		<div class="profile-description">
		
			<p class="paragraph">I’m Duarte Soares a Front End Developer with great notions of UX & UI. I started working at a Startup and then co-founded Föld, where we developed Build It With Me. At the moment i looking for remote work.</p>

		</div>

		<button class="button column small-12 large-6">Tell me more about you then</button><button class="button column small-12 large-6">skip the lame part and show me your work</button>

	</div>

</div>