<%

	var title = model.title || "Unknown",
		data = model.data || [];

%>

<div class="section" id="achievements-section">
	
	<div class="row">
		
		<div class="column small-12">
		
			<h2 class="heading special big"><%= title %></h2>

		</div>

	</div>
	
	<div class="row">
	
		<%

			data.map(function(achievementCard){

				%>

					<div class="column small-6 medium-4">
				
						<div class="achievement-card" id="<%= achievementCard.name + '-achievement' %>">

							<div class="achievement-badge">
									
								<img src="/resources/assets/utils/badge.png" class="achievement-badge-image">

							</div>
							
							<h3 class="heading small h-text-center"><%= achievementCard.name %></h3>
							<p class="paragraph medium"><%= achievementCard.description %></p>

						</div>

					</div>

				<%

			});

		%>

	</div>

</div>