<%

	var title = model.title || "Unknown",
		data = model.data || [];

%>

<div class="section">
	
	<div class="row">
		
		<div class="column small-12">
		
			<h2 class="heading big special"><%= title %></h2>

		</div>

	</div>
	
	<div class="row">
	
		<div class="column small-7">
			
			<div class="timeline">
				
				<div class="timeline-main">
					
					<%
						var l = data.length,
							h = 360;

						data.reverse().map(function(dotEntry, i){

							%>
								<div class="timeline-data-entry" style="top: <%= i * (h / l) %>px">
																		
									<div class="timeline-data-entry-dot" data-dot="<%= i %>"></div>
									<div class="timeline-data-entry-date paragraph small"><%= dotEntry.date %></div>
									<div class="timeline-data-entry-name paragraph small"><%= dotEntry.name %></div>							

								</div>

							<%

						});

					%>

				</div>
				<div class="timeline-base"></div>

			</div>			

		</div>

		<div class="column small-4">
			
			<div class="content-block">

				<img src="/resources/assets/companies/meshapp@2x.png" class="content-block-image">
				<h3 class="heading biggest">MeshApp</h3>
				<p class="paragraph big">Made by a small team of three developers by the name of Föld. Made by a small team of three developers by the name of Föld.</p>
				<h5 class="heading small">Products</h5>
				<div class="content-block-project">
						
					<img src="/resources/assets/companies/meshapp@2x.png" class="content-block-project-image">

				</div>

			</div>

		</div>

	</div>

</div>