<%
	
	var title = model.title;

%>

<div class="row">
	
	<div class="column small-12"><h2 class="heading"><%= title %></h2></div>

	<div class="column small-12">

		<div class="column small-3 medium-2"><div class="timeline line"></div></div>

	</div>

	<!-- Journal Entry -->

	<div class="column small-12 journal-entry">
		
		<div class="column small-3 medium-2 journal-entry-image"><div class="hexagon hexagon2 max profile-avatar"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div></div>

		<div class="column small-8 medium-10 journal-entry-content">
			
			<h3 class="heading small">This is a Title</h3>
			<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>

		</div>

	</div>    

	<!-- /Journal Entry -->

	<!-- Journal Entry -->

	<div class="column small-12 journal-entry">
		
		<div class="column small-3 medium-2 journal-entry-image"><div class="hexagon hexagon2 max profile-avatar"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div></div>

		<div class="column small-8 medium-10 journal-entry-content">
			
			<h3 class="heading small">This is a Title</h3>
			<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>

		</div>

	</div>    

	<!-- /Journal Entry -->

</div>