<%
	
	var title = model.title,
		list = model.list;

%>

<div class="knowledge-bg"></div>

<div class="row section-container">
	
	<div class="column small-12">
		
		<h2 class="heading medium"><div class="hexagon hexagon2 small"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div><%= title %><span class="heading-lines"></span></h2>

	</div>

	<!-- knowledge -->

	<div data-target-ref="knowledge-container">

		<div class="column small-12 knowledge-col-wrapper">

			<% list.map(function(item){ %>

				<% var size = (item.icon.size) ? item.icon.size + "%" : "40%"; %>

				<div class="column small-12 medium-6 large-4 knowledge-item">

					<div class="knowledge-wrapper">

						<div class="hexagon hexagon2 medium"><div class="hexagon-in1"><div class="hexagon-in2" style="background-size: <%= size %>; background-image: url('../../resources/assets/knowledge/<%= item.icon.src %>')"></div></div></div>
						
						<h4 class="heading small text-center"><%= item.name %></h4>
						<p class="paragraph medium"><%= item.text %></p>

					</div>

				</div>

			<% }); %>

		</div>


	</div>

	<!-- /knowledge -->

</div>

