<%

	var myLinks = model;

	
%>

<div class="row">

	<div class="column small-10 small-offset-1 medium-6 medium-offset-3">

		<% 

			Object.keys(myLinks).map(function(key){

				var label = myLinks[key].label,
					link  = myLinks[key].link;

				%>

				<div class="column small-4">

					<div class="hexagon-wrapper">
					
						<a href="<%= link %>" target="_blank"><div class="hexagon hexagon2 small"><div class="hexagon-in1"><div class="hexagon-in2"><span class="icon <%= key %>"></span></div></div></div></a>

					</div>

				</div>

				<%

			});

		%>

	</div>

</div>