<%

	var title = model.title || "Unknown",
		data = model.data || [];

%>

<div class="section" id="technologies-section">
	
	<div class="row">
		
		<div class="column small-12">
		
			<h2 class="heading special big"><%= title %></h2>

		</div>

	</div>
	
	<div class="row">
	
		<%

			data.map(function(techCard){

				%>

					<div class="column small-6 medium-4">
				
						<div class="tech-card">

							<div class="top-left"></div>

							<a href="<%= techCard.link %>" target="_blank">
								
								<img src="/resources/assets/technologies/<%= techCard.image %>" class="tech-card-image">
							
								<h3 class="heading small h-text-center"><%= techCard.name %></h3>
								<p class="paragraph medium"><%= techCard.description %></p>

							</a>

							<div class="bottom-right"></div>

						</div>

					</div>

				<%

			});

		%>

	</div>

</div>