<%

	var user = model.user || {},
		name = user.name || "unknown",
		email= user.email || "unknown",
		avatar= user.avatar || "unknown",
		system = model.system || {

			version : "unknown",
			build: "unknown"

		};

%>


<div class="row" id="terminal-section">

	<div class="column small-12">

		<a href="mailto:duartecsoares@me.com">
		
			<div class="profile-card h-inline-block">
			
				<img class="profile-card-avatar" src="<%= avatar %>">
				
				<div class="profile-card-data h-inline-block">
					
					<div class="profile-card-name"><%= name %></div>
					<div class="profile-card-email"><%= email %></div>

					<span class="profile-card-status"></span>

				</div>

			</div>

		</a>

		<div class="system-meta h-inline-block">
	
			<div class="system-meta-version">version v<%= system.version %> <span class="beta">Beta</span></div>
			<div class="system-meta-build">build <%= system.build %></div>		

		</div>

	</div>
	
	<div class="column small-12">

		<div class="terminal-monitor">
			

		</div>

		<form>
			<input type="text" name="" class="terminal-input" placeholder="/type command">
		</form>

	</div>

</div>