<%

	var title = model.title || "Unknown",
		data = model.data || [];

%>

<div class="section" id="work-section">

	<div class="row">
	
		<div class="column small-12">
		
			<h2 class="heading big special"><%= title %></h2>

		</div>

	</div>
	
	<div class="work-detail-content" data-target-work="detail-content"></div>

	<div class="row">
		
		<div class="column small-8 h-column-center">
			
			<div class="tab-menu">

				<span class="tab-menu-content">
					
					<%
						data.map(function(item, i){

							var activeClass = (i === 0) ? "active" : "";

							%>
								<span class="tab-menu-item <%= activeClass %>" title="<%= item.name %>" data-work-trigger="<%= i %>">

									<img class="tab-menu-item-icon" src="/resources/assets/work/<%= item.image %>">
									<div class="tab-menu-item-wrapper h-text-ellipsis"><span class="tab-menu-item-label paragraph"><%= item.name %></span></div>

								</span>

							<%

						});

					%>

				</span>	

			</div>

		</div>

	</div>

</div>