<!-- Work Entry -->

<div class="column small-12 journal-entry">
	
	<div class="column small-3 medium-2 journal-entry-image"><div class="hexagon hexagon2 big"><div class="hexagon-in1"><div class="hexagon-in2" style="background-image: url('../../resources/assets/work-screens/<%= model.thumb %>')"></div></div></div></div>

	<div class="column small-8 medium-10 journal-entry-content work-entry-list">
		
		<h3 class="heading small"><%= model.name %></h3>
		<p class="paragraph"><%= model.text %></p>

	</div>

</div>    

<!-- /Work Entry -->