<%

	var name = model.name,
		image = model.image,
		description = model.description,
		video = model.video,
		link = model.link;

%>

<div class="row">
		
	<div class="column small-12 large-4">
	
		<div class="content-block">

			<img src="/resources/assets/work/<%= image %>" class="content-block-image">
			<h3 class="heading biggest"><%= name %></h3>
			<p class="paragraph big"><%= description %></p>
			<a href="<%= link %>" class="url-link" target="_blank"><img src="/resources/assets/utils/link@2x.png"></a>

		</div>

	</div>

	<div class="column small-12 large-7 large-offset-1">
		
		<div class="browser">
			
			<div class="browser-header">
				
				<div class="browser-header-actions">
					
					<span class="browser-header-action red"></span>
					<span class="browser-header-action yellow"></span>
					<span class="browser-header-action green"></span>

				</div>

			</div>

			<a href="<%= link %>" target="_blank">
				<div class="browser-content">
					
					<video class="video-player" width="100%" autoplay="" loop="" playsinline="">
						<source src="/resources/assets/work-screens/<%= video %>" type="video/mp4">
					</video>

				</div>
			</a>
		</div>

	</div>

</div>