.fold-achievements-section-view {

	.section {

		padding-bottom: 40px;

	}
		
	.achievement-card {

		margin: auto auto 60px auto;

		.achievement-badge {

			margin-bottom: 40px;

		}

		.achievement-badge-image {

			width: 137px;
			margin: auto;
			display: block;

		}

		.achievement-card-image {

			width: 80px;
		    margin: auto auto 25px auto;
		    display: block;

		}

		.heading {

			font-weight: bold;

		}

	}

	.achievement-card-image {

		width: 80px;
		display: block;
		margin: auto;

	}

}