.fold-achievements-section-view {

	.section {

		padding-bottom: 40px;

	}
		
	.achievement-card {

		margin: auto auto 60px auto;

		.achievement-badge {

			margin-bottom: 40px;
			position: relative;

		}

		.achievement-badge-image {

			width: 137px;
			margin: auto;
			display: block;

		}

		.achievement-badge-icon {

			position: absolute;
		    left: 0;
		    right: 0;
		    margin: auto;
		    top: 0;
		    bottom: 0;
		    width: 130px;

		}

		.achievement-card-image {

			width: 80px;
		    margin: auto auto 25px auto;
		    display: block;

		}

		.heading {

			font-weight: bold;

		}

	}

	.achievement-card-image {

		width: 80px;
		display: block;
		margin: auto;

	}

	a {

		text-decoration: underline;

	}

}