.fold-connect-section-view {

	.heading {		

		&.special {

			width: auto;

			&:before, &:after {

				width: 35%;

			}

		}

	}
	
	.profile-card {

		margin: auto;

	}

	.connect-wrapper {

		padding: 100px 0;
    	background-color: #F6F6F6;

	}

	.connect-line {

		height: 1px;
		width: 100%;
		background-color: $dark-blue;
		margin-top: 95px;
		display: block;

	}

	.connect-social {

		width: 300px;
		margin: auto;

		.connect-social-icon {

			width: 30px;
			height: 30px;
			margin-top: 10px;
			border: 1px solid #ececec;
			border-radius: 50%;
			background-color: #fafafa;
			display: inline-block;
			position: relative;

			img {

				position: absolute;
			    left: 0;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    margin: auto;

			}

		}

	}

	.resume {

		font-size: 12px;
	    position: relative;
	    top: -10px;
	    left: -20px;
	    color: #a9a9a9;
	    position: relative;

	    &:hover {

	    	text-decoration: underline;

	    }

	    &:after {

	    	content: "";
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    right: -10px;
		    background-color: #a9a9a9;
		    height: 15px;
		    width: 1px;
		    margin: auto;

	    }

	}
	
}