.fold-journey-view {

	.timeline {

		display: none;
		height: 620px;

		&.main {

			clip: rect(0, auto, auto, 0);

		}

	}

	.timeline-fill {

    	height: 900px;
    	position: fixed;
    	background-color: #888888;
    	width: 2px;
    	top: 0px;

    	@media screen and (max-height: 700px){

			height: 335px;

		}

	}

	.journal-entry {

		.heading {

			text-align: center;	

		}

		@media #{$medium-up} {

			.heading {

				text-align: left;	
		
			}

		}	

	}

	@media #{$medium-up} {

		.timeline {

			display: block;

		}

	}
	
}