.fold-journey-section-view {	

	.timeline {

		position: relative;
		width: 100%;
		display: block;

		.timeline-main {

			height:360px;
			width: 1px;
			margin: auto;
			background-color: $dark-blue;
			position: relative;

		}

		.timeline-data-entry {

			position: absolute;

			&:hover {

				cursor: pointer;

				.timeline-data-entry-dot {

					transform: scale(1.3) translateX(-2.2px);
					
				}

			}

			&.active {

				cursor: pointer;

				.timeline-data-entry-dot {

					transform: scale(1.3) translateX(-2.2px);
					background-color: $dark-blue;
					
				}

			}

		}

		.timeline-data-entry-dot {

			width: 7px;
		    height: 7px;
		    border-radius: 50%;
		    position: relative;
		    transform: translateX(-3px);
		    background-color: #ECECEC;
			border: 1px solid $dark-blue;
			transition: all .15s;

		}

		.timeline-data-entry-name {

			position: absolute;
		    left: 20px;
		    top: -19px;
		    white-space: nowrap;
		    font-weight: bold;

		}

		.timeline-data-entry-date {

			position: absolute;
		    left: -100px;
		    top: -19px;
		    color: $regular-gray;

		}

		.timeline-base {

			height: 1px;
			margin: auto;
			width: 60px;
			background-color: $dark-blue;

		}

	}

}