.fold-knowledge-view {

	background-color: #f5f5f5;
	padding: 40px 0 120px 0;
	margin: 220px 0 0px 0;

	.section-container {

		margin: 0 auto 0 auto;

	}
	
	.hexagon {

		margin: auto;

	}

	.knowledge-item {

		margin: 20px auto 20px auto;

	}

	.knowledge-wrapper {

		background-color: #e4e4e4;
    	padding: 30px;
    	border-radius: 2px;
    	border: 1px solid #e0e0e0;
    	height: 370px;

	}

}