.fold-profile-view {
	
	min-height: 600px;
	margin-bottom: 400px;
	margin-top: 200px;

	.hexagon {

		margin: auto;
		
	}

	.show-journey-button {

		background-color: #f3f3f3;
   	 	color: #000;
   		border: 1px solid #f1f1f1;
   		margin-bottom: 20px;

	}

	.show-work-button {

		background-color: transparent;
		color: #000;		

		&:hover {

			text-decoration: underline;

		}
	}

	@media screen and (max-height: 700px){

		margin-top: 0px;
		margin-bottom: 100px;

	}

}