.fold-profile-view {
	
	min-height: 600px;

	.hexagon {

		margin: auto;
		
	}

	.show-journey-button {

		background-color: #dedede;
		color: #000;

	}

	.show-work-button {

		background-color: transparent;
		color: #000;

		&:hover {

			text-decoration: underline;

		}
	}

}