.fold-technologies-section-view {

	.section {

		padding-bottom: 40px;

	}
	
	.tech-card {

		margin: auto auto 60px auto;

		.tech-card-image {

			width: 140px;
		    margin: auto auto 25px auto;
		    display: block;

		}

		.heading {

			font-weight: bold;

		}

	}

}