.fold-work-section-view {

	.content-block-image {

		border-radius: 50%;
		border: 1px solid #efefef;

	}
	
	.content-block {

		margin-top: 60px;

	}

	.tab-menu {

		margin-top: 80px;

	}

	@media all and (max-width: $medium-breakpoint) {
	        
       .content-block {

       		margin-bottom: 40px;

       }

    }

}