.fold-work-section-view {

	.content-block-image {

		border-radius: 50%;
		border: 1px solid #efefef;

	}
	
	.content-block {

		margin-top: 60px;

	}

	.video-player {

		min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: 100%;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);

	}

	.tab-menu {

		margin-top: 80px;

	}

	.browser-content {

		overflow: hidden;
		position: relative;

	}

	@media all and (max-width: $medium-breakpoint) {
	        
       .content-block {

       		margin-bottom: 40px;

       }

    }

}