<%

	var lists = model.lists,
		copyright = model.copyright;

%>

<div class="row">
	
	<%

		lists.map(function(list){

			%>

				<div class="column small-6 medium-6 large-3">
		
					<h4 class="heading small"><%= list.title %></h4>
					<ul class="list">
						
						<%

							list.data.map(function(item){

								var target = (item.link.search("#") >= 0) ? "_self" : "_blank"

								%><li class="list-item h-capitalize paragraph medium"><a href="<%= item.link %>" target="<%= target %>"><%= item.name %></a></li><%

							});

						%>

					</ul>

				</div>

			<%

		});

	%>	
	
</div>

<div class="row">

	<div class="column small-12">

		<p class="paragraph medium"><%= copyright %></p>	

	</div>

</div>