<div class="row">

	<div class="column small-12">

		<div class="column small-12">
			
			<hr class="line">

		</div>
		
		<div class="column small-6">

			<div class="hexagon-wrapper">
				
				<a href="//twitter.com/duartecsoares" target="_blank"><div class="hexagon hexagon2 small"><div class="hexagon-in1"><div class="hexagon-in2"><span class="icon twitter"></span></div></div></div></a>
				<a href="//github.com/duartecsoares" target="_blank"><div class="hexagon hexagon2 small"><div class="hexagon-in1"><div class="hexagon-in2"><span class="icon github"></span></div></div></div></a>
				<a href="//builditwith.me/profile/duartecsoares" target="_blank"><div class="hexagon hexagon2 small"><div class="hexagon-in1"><div class="hexagon-in2"><span class="icon builditwithme"></span></div></div></div></a>

			</div>

		</div>

		<div class="column small-6">
			
			<p class="paragraph small h-text-right">Handcrafted by duartecsoares © 2016 using <a href="//github.com/duartecsoares/fold-webapp-pack" target="_blank" class="link">Föld WebApp Pack</a></p>	

		</div>

	</div>

</div>