//icons

$icon-big-size: 40px;
$icon-medium-size: 25px;
$icon-small-size: 20px;

.icon {

	height: $icon-medium-size;
	width: $icon-medium-size;
	display: inline-block;
	background-size: 100%;

	position: relative;
    top: 10px;
    margin: 2px 10px 2px auto;
	
	&.big {

		height: $icon-big-size;
		width: $icon-big-size;
		top: 20px;
    	margin: 5px 10px 5px auto;

	}

	&.medium {

		height: $icon-medium-size;
		width: $icon-medium-size;
		top: 10px;
    	margin: 2px 10px 2px auto;

	}

	&.small {

		height: $icon-small-size;
		width: $icon-small-size;
		top: 8px;
    	margin: 2px 10px 2px auto;

	}

	&.github {

		background-image: url($assets-path + "networks/github.png");

	}

	&.twitter {

		background-image: url($assets-path + "networks/twitter.svg");

	}

	&.builditwithme {

		background-image: url($assets-path + "networks/builditwithme.svg");

	}

}