//icons

$icon-big-size: 40px;
$icon-medium-size: 38px;
$icon-small-size: 20px;

.icon {

	height: $icon-medium-size;
	width: $icon-medium-size;
	display: block;
	background-repeat: no-repeat;
	background-size: 100%;

	position: relative;
    margin: auto;

	&.github {

		background-image: url($assets-path + "networks/github.svg");

		&.white {

			background-image: url($assets-path + "networks/github-white.svg");

		}

	}

	&.twitter {

		background-image: url($assets-path + "networks/twitter.svg");

		&.white {

			background-image: url($assets-path + "networks/twitter-white.svg");

		}

	}

	&.builditwithme {

		background-image: url($assets-path + "networks/builditwithme.svg");

		&.white {

			background-image: url($assets-path + "networks/builditwithme-white.svg");

		}

	}

}