// StarterKit by Fold
// mixins.scss

@mixin font-smoothing($smoothing) {

  -webkit-font-smoothing: $smoothing;

}

@mixin clear-appearance(){
	
	-moz-appearance:none;
    -webkit-appearance:none;
	appearance:none;    

}

@mixin transform($transformation){
	
	-webkit-transform: $transformation;
    -moz-transform: $transformation;
    -ms-transform: $transformation;
    -o-transform: $transformation;
    transform: $transformation;

}

@mixin gradient-gen($from, $to){
    
    background: $from; /* Old browsers */
    background: -moz-linear-gradient(top,  $from 0%, $to 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $from 0%,$to 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $from 0%,$to 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 ); /* IE6-9 */

}