html, body {
	
	height: 100%;
	width: 100%;
	background-color: $app-background;

}

.app-loader {
	
	svg {

		margin: 200px auto auto auto;
		display: block;

	}

}

.heading {
	
	color: $heading-color;
	font-size: $heading-medium;

	&:after, &:before {

		background-color: $dark-blue;

	}

	&.biggest {

		font-size: $heading-biggest;
		margin: 0;

	}

	&.big {

		font-size: $heading-big;

	}

	&.medium {

		font-size: $heading-medium;

	}

	&.small {

		font-size: $heading-small;
		line-height: 18px;

	}

}

.paragraph {
	
	color: $paragraph-color;
	font-size: $paragraph-medium;

	&.big {

		font-size: $paragraph-big;

	}

	&.medium {

		font-size: $paragraph-medium;

	}

	&.small {

		font-size: $paragraph-small;
		line-height: 18px;

	}

}