// Vars

$app-background-color: #252525;


html, body {
	
	height: 100%;
	width: 100%;
	background-color: $app-background-color;

}

.app-loader {
	
	svg {

		margin: 200px auto auto auto;
		display: block;

	}

}