$app-background: #FAFAFA;

$layout-header-background: #FAFAFA;
$layout-terminal-background: #F8F8F8;

//main colors
$dark-blue: #4D545A;

$regular-gray: #b9b9b9;
$light-gray: #D5D5D5;

//text colors
$heading-color: $dark-blue;
$paragraph-color: $dark-blue;