$app-background: #FAFAFA;

$layout-header-background: #FAFAFA;
$layout-terminal-background: #F8F8F8;

//main colors
$dark-blue: #4D545A;

//text colors
$heading-color: $dark-blue;
$paragraph-color: $dark-blue;