.profile-card {

	border-radius: 50px;
	border: 1px solid #DADADA;
	padding: 6px 7px 12px 7px;
	@include gradient-gen(#ffffff, #F2F2F2);
	font-size: $paragraph-medium;
	width: 300px;
	position: relative;

	.profile-card-avatar {

		height: 50px;
		width: 50px;
		border-radius: 50%;
		position: absolute;
		background-color: #FAFAFA;

	}

	.profile-card-data {

		margin: 0 0 0 65px;		

	}

	.profile-card-name {

		text-transform: capitalize;
		font-weight: bold;
		margin: 3px 0 -1px 0;

	}

	.profile-card-status {

		position: absolute;
	    right: 15px;
	    height: 15px;
	    width: 15px;
	    background-color: #d0d0d0;
	    border-radius: 50%;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    border: 1px solid #bbbbbb;
	    transition: all .45s;

	    &.active {

	    	background-color: #4BDA37;
	    	border: 1px solid #27d210;

	    }

	}

	&:hover {

		.profile-card-status {

			&.active {

				background-color: #9cec34;

		  	}

		}

	}

}

.content-block {

	margin: 10px auto auto auto;

	.heading {

		&.biggest {

			font-weight: normal;

		}

	}

	.content-block-image {

		width: 70px;
		margin-bottom: 10px;

	}

	.heading {

		&.biggest {

			font-size: 25px;

		}

		&.small {

			margin-bottom: 10px;

		}

	}

	.paragraph {

		&.big {

			font-size: 15px;

		}

	}

	.content-block-project {

		background-color: #FAFAFA;
		border: 1px solid #e5edf5;
		height: 46px;
		width: 46px;
		border-radius: 50%;
		position: relative;
		display: inline-block;
		margin-right: 10px;
		overflow: hidden;
		font-size: 8px;
	    text-align: center;
	    font-weight: bold;
	    padding-top: 16px;
	    cursor: default;

		.content-block-project-image {

			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
    		border-radius: 50%;

		}

	}

	.paragraph {

		margin: 7px auto 0 auto;

	}

}

.browser {
	
	width: 100%;
    background: #fff;
    display: block;    
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid #dadada;

    .browser-header {

    	width: 100%;
    	height: 20px;
    	border-top-left-radius: 1px;
    	border-top-right-radius: 1px;
    	@include gradient-gen(#EDEDED, #E3E3E3);

    	.browser-header-actions {

    		position: relative;
    		top: -4px;
    		left: 5px;

    	}

		.browser-header-action {

			height: 7px;
			width: 7px;
			border-radius: 50%;
			display: inline-block;

			&.green {

				background-color: #86DB48;

			}

			&.yellow {

				background-color: #DFCB00;

			}

			&.red {

				background-color: #FF7979;

			}

		}	

    }

    .browser-content {

    	height: 365px;
   		background-size: 100%;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;

    }

}

.tab-menu {

	text-align: center;

	.tab-menu-content {

		position: relative;

		&:after {

			content: "";
			height: 1px;
			width: 100%;
			position: absolute;
			transform: translateY(99px);	
			left: 0;
			background-color: $light-gray;			

		}

	}

	.tab-menu-item {

		position: relative;
		display: inline-block;
		width: 20%;
		cursor: pointer;

		&:after {

			content: "";
			height: 1px;
			width: 0px;
			position: absolute;
			bottom: -12px;			
			left: 0;
			right: 0;
			margin: 5px auto 0 auto;
			background-color: $dark-blue;
			transition: width 0.15s;
			z-index: 400;

		}

		&.active {

			&:after {

				width:100%;

			}

		}

	}
	
	.tab-menu-item-icon {

		width: 52px;
	    display: block;
	    margin: auto auto 12px auto;
	    border-radius: 50%;
	    border: 1px solid #efefef;

	}

	.tab-menu-item-wrapper {

		width: 100%;

	}

	.tab-menu-item-label {

	
	
	}

}

.list {
	
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;

	.list-item {

		margin: 5px 0;

		&:hover {

			text-decoration: underline;

		}

	}

}