.section {

	margin:0;
	padding: 100px 0;
	background-color: #FAFAFA;

	.heading {

		&.special {

			position: relative;
			text-align: center;
			margin: 0 auto 80px auto;
			width: 300px;

			&:before {

				content: "";
				width: 75px;
				height: 1px;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;

			}

			&:after {

				content: "";
				width: 75px;
				height: 1px;
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;

			}

		}

	}

}


//bg colors

.fold-journey-section-view {
	
	.section {

		background-color: #FEFEFE;

	}

}

