.theme-autumn {
	
	.fold-my-links-view {

		.hexagon-in2 {

			

		}

	}

	.fold-knowledge-view {

		.knowledge-wrapper {

			

		}

	}

}

$theme-gengi-green: #0f9d58;

.theme-genji {

	background-color: #fbfbfb;

	.fold-about-me-view {

		.show-journey-button {

			background-color: $theme-gengi-green;
		    color: #f1f1f1;
		    border: 1px solid $theme-gengi-green;
		    border-radius: 2px;
			opacity: 0.9;
		    transition: all 0.2s;

		    &:hover {

		    	opacity: 1;
		    	//background-color: #f1f1f1;
		    	//color: $theme-gengi-green;
			    //border-color: #f1f1f1;

		    }

		}

	}
	
	.fold-my-links-view {

		.hexagon-in2 {

			

		}

	}

	.fold-knowledge-view {

		.knowledge-wrapper {

			

		}


	}

	.fold-journey-view {

		.timeline-fill {

			background-color: $theme-gengi-green;

		}

	}

}