
@font-face {

    font-family: ClearSans;
    src: url(/resources/assets/fonts/clear-sans/ClearSans-Regular.ttf);

}

@font-face {

    font-family: ClearSans;
    src: url(/resources/assets/fonts/clear-sans/ClearSans-Bold.ttf);
    font-weight: bold;
    
}

$heading-biggest: 32px;
$heading-big: 18px;
$heading-medium: 16px;
$heading-small: 14px;

$paragraph-big: 16px;
$paragraph-medium: 14px;
$paragraph-small: 12px;
