.layout-footer-view {
	
	margin: 60px auto 0px auto;
	padding: 20px 0 40px 0;
	background-color: #f3f3f3;

	.paragraph {

		margin-top: 5px;

	}

	.line {

		height: 1px;
		margin-bottom: 20px;
		background-color: #F2F2F2;

	}

	.hexagon2 {

		display: inline-block;
		margin-right: 10px;

		.hexagon-in2 {

			background-color: #e6e6e6;

		}

	}

	.hexagon-wrapper {

		margin: 12px 0 0 -20px;

	}

	.link {

		text-decoration: underline;

	}
	
}