.layout-footer-view {
	
	margin: 60px auto 0px auto;
	padding: 20px 0 40px 0;
	background-color: #f3f3f3;

	.paragraph {

		margin-top: 5px;

	}

	.line {

		height: 1px;
		margin-bottom: 20px;
		background-color: #F2F2F2;

	}

	.hexagon2 {

		display: inline-block;
		margin-right: -10px;

		.hexagon-in2 {

			background-color: #e6e6e6;

		}

		&.small {

			width: 26px;
    		height: 30px;

		}

	}

	.hexagon-wrapper {

		margin: 12px 0 0 -20px;

		.icon {

			height: 25px;
		    width: 20px;
		    background-size: 100%;
		    position: relative;
		    top: 5px;
		    background-repeat: no-repeat;
		    display: block;
		    margin: auto;

		    &.twitter {

		    	width: 25px;
    			top: 3px;
    			left: 1px;

		    }

		    &.builditwithme {

		    	width: 16px;
   				top: 7px;
    			left: 0px;

		    }

		}

	}

	.link {

		text-decoration: underline;

	}
	
}