.layout-header-view {

	padding: 5px 0 5px 0;
	background-color: #f3f3f3;
	
	.link {

		font-size: 11px;
		margin-left: 20px;
		text-transform: uppercase;

		&:hover {

			text-decoration: underline;

		}

	}
	
}