.layout-header-view {

	padding: 5px 0 5px 0;
	background-color: #f3f3f3;

	
	
	.link {

		font-size: 11px;
		margin-left: 20px;
		text-transform: uppercase;

		&:hover {

			text-decoration: underline;

		}

	}

	.mobile-menu {



	}

	.menu {
		
		display: none;

	}

	.mobile-toggle {

		display: block;
		position: relative;
		z-index: 600;
		cursor: pointer;

		.icon {

			background-color: #000;
			height: 2px;
			width: 14px;
			margin: 25px 0 25px 0;

			&:after {

				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 5px;
				background-color: #000;
				height: 2px;
				width: 14px;

			}

			&:before {

				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: -5px;
				background-color: #000;
				height: 2px;
				width: 14px;

			}

		}

	}

	@media #{$medium-up} {

		.menu {
		
			display: block;

		}

		.mobile-toggle {

			display: none;

		}

	}
	
}