.layout-header-view {

	padding: 45px 0 25px 0;
    position: relative;
    z-index: 900;
    background-color: $layout-header-background;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);

    &.open {

    	background-color: transparent;

    	.mobile-toggle {

    		.icon {

    			background-color: transparent;

    			&:before {

    				transform: rotate(40deg) translateY(3px) translateX(3px);
    				background-color: #fff;

    			}

    			&:after {

    				transform: rotate(-40deg) translateY(-4px) translateX(4px);
    				background-color: #fff;

    			}

    		}

    	}

    }

	.link {

		font-size: 12px;
		margin-left: 40px;
		text-transform: uppercase;

		&:hover {

			text-decoration: underline;

		}

	}

	.mobile-menu {



	}

	.menu {
		
		display: none;
		padding: 0;

	}

	.mobile-toggle {

		display: block;
		position: relative;
		z-index: 600;
		cursor: pointer;
		$iconWidth: 15px;

		.icon {

			background-color: #000;
			height: 2px;
			width: $iconWidth;
			margin: 25px 0 25px 0;

			&:after {

				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 5px;
				background-color: #000;
				height: 2px;
				width: $iconWidth;
				transition: all 0.2s

			}

			&:before {

				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: -5px;
				background-color: #000;
				height: 2px;
				width: $iconWidth;
				transition: all 0.2s

			}

		}

	}

	@media #{$medium-up} {

		.menu {
		
			display: block;

		}

		.mobile-toggle {

			display: none;

		}

	}
	
}